*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body section > div,
body header > nav,
body footer > div {
  margin: 0 auto;
  max-width: 1400px;
}

h1,
h2,
h3,
.small-letters,
.quote {
  font-family: "Montserrat", sans-serif;
}

h1 button,
h2 button,
h3 button,
.small-letters button,
.quote button {
  font-weight: 700;
}

h1,
h2,
h3 {
  letter-spacing: 0.01em;
}

h1 {
  font-size: 2.375rem;
  line-height: 1.2632;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.125rem;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.small-letters {
  font-size: 0.75rem;
  line-height: 2.5;
  letter-spacing: 0.1em;
}

/*Header*/
header {
  background-image: url("../images/background.jpg");
  background-size: cover;
  overflow: hidden;
}

.navbar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.8rem 4rem;
  position: relative;
}

.logo {
  height: 28px;
  width: 35px;
}

.menu-burger {
  display: none;
}

ul li a {
  text-decoration: none;
  line-height: 2;
  color: #141414;
  margin-left: 2rem;
}

ul li a:hover {
  color: #10C9C3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-different-screen-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header div p {
  font-size: 1.125rem;
  line-height: 1.555;
  letter-spacing: 0.005em;
}

header p {
  text-align: justify;
}

.jumbotron {
  width: 50%;
}

.align-jumbotron {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

button {
  background-color: #10C9C3;
  letter-spacing: 0.1em;
  border: none;
  padding: 0.9rem 2rem;
}

button:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

video {
  width: 90%;
  cursor: pointer;
}

.quote {
  font-size: 1.5rem;
  line-height: 1.5;
}

.owl-carousel {
  position: relative;
}

.owl-theme .owl-dots .owl-dot {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #fff;
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 3px;
  border-radius: 0;
  background: rgba(214, 214, 214, 0.6);
}

.owl-theme .owl-nav {
  background: none;
}

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 45%;
}

.owl-theme .owl-nav .owl-prev:hover, .owl-theme .owl-nav .owl-next:hover {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.owl-theme .owl-nav .owl-prev i, .owl-theme .owl-nav .owl-next i {
  color: rgba(214, 214, 214, 0.6);
}

.owl-theme .owl-nav .owl-prev i:hover, .owl-theme .owl-nav .owl-next i:hover {
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.owl-prev {
  left: 2rem;
}

.owl-next {
  right: 2rem;
}

.margins {
  margin: 2.4rem 1rem 2.4rem 0;
}

.margin-top {
  margin: 1.2rem 0;
}

.margin-top-smaller {
  margin: 0.8rem 0;
}

.left-margin {
  margin-left: 2rem;
}

.notebook {
  height: 100%;
  width: 100%;
}

.half-image {
  display: block;
}

progress {
  color: #10C9C3;
  background-color: #E9ECEF;
}

.progress-bar {
  background-color: #E9ECEF;
  height: 0.25rem;
  position: relative;
}

.progress {
  background-color: #10C9C3;
  height: 0.25rem;
  position: absolute;
}

.design,
.sliders {
  width: 75%;
}

.development {
  width: 90%;
}

.marketing {
  width: 65%;
}

.product-div {
  width: 25%;
  position: relative;
}

.overlay {
  background-color: rgba(8, 8, 8, 0.8);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  top: 0;
  left: 0;
}

.product-div:hover .overlay {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.eye-image {
  background-image: url("../images/eye-regular.png");
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.products-on-click {
  display: none;
}

.load-more-work:hover {
  color: #10C9C3;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery .product-div:nth-child(n+9) {
  display: none;
}

.gallery img {
  width: 100%;
  display: block;
}

form {
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

input, textarea {
  margin-bottom: 2.5rem;
}

div input,
div textarea {
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem 1rem;
  letter-spacing: 0.001em;
  width: 100%;
  font-size: 1.1rem;
}

textarea {
  line-height: 1.8;
}

.smaller-input {
  width: 49%;
}

footer .footer-upper-line,
footer .footer-lower-line {
  text-align: left;
}

footer a,
footer ul li a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.938rem;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #bcbcbc;
  text-decoration: none;
  font-weight: 500;
}

footer a:hover,
footer ul li a:hover {
  color: #10C9C3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*SHORTCUTS:*/
.accent-background {
  background-color: #10C9C3;
}

.white {
  color: #fff;
}

.lightest-main-color-background {
  background-color: #F8F9F9;
}

.middle-color {
  color: #bcbcbc;
}

.main-color {
  color: #787878;
}

.dark-main-color {
  color: #141414;
}

.dark-main-color-background {
  background-color: #141414;
}

.line-height-smaller {
  line-height: 2;
}

.line-height-bigger {
  line-height: 2.8;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.bold {
  font-weight: 700;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.white.uppercase.row {
  width: 25%;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.center-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-auto {
  margin: 0 auto;
}

.top-bottom-margins {
  margin: 1rem 0;
}

.higher-size-paddings {
  padding: 6rem 1.2rem;
}

.same-size-paddings {
  padding: 3.9rem;
}

.similar-size-paddings {
  padding: 2rem 1.5rem;
}

.middle {
  width: 80%;
  margin: auto;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.fields {
  width: 25%;
}

.clients-fields {
  width: 20%;
  opacity: 0.5;
}

.products-on-smaller-screen {
  width: 100%;
}

@media all and (max-width: 1100px) {
  .accent-background {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .accent-background .white.uppercase.row {
    width: calc(50% - 12rem);
    margin: 2rem 6rem;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .accent-background .white.uppercase.row .div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (max-width: 950px) {
  .menu-burger {
    display: block;
    padding: 4px 12px;
    border: 2px solid transparent;
  }
  .menu-burger div {
    width: 26px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    border-radius: 3px;
  }
  .menu-burger:hover {
    cursor: pointer;
    border: 2px solid #9BBFF6;
    border-radius: 3px;
  }
  .menu-burger:active {
    border: 2px solid #9BBFF6;
    border-radius: 3px;
  }
  .menu-different-screen-align {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    background: rgba(233, 236, 239, 0.98);
    padding: 1rem 2.5rem;
    position: absolute;
    top: 3rem;
    left: -1rem;
  }
  .menu-different-screen-align li {
    padding: 0.3rem;
  }
  .show {
    display: block;
    -webkit-transition: height 5s ease-in-out;
    -o-transition: height 5s ease-in-out;
    transition: height 5s ease-in-out;
  }
  .align-jumbotron {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .align-jumbotron .jumbotron, .align-jumbotron .middle {
    width: 100%;
  }
  .half-image {
    display: none;
  }
  .full-professional-skills {
    width: 100%;
  }
  .fields {
    width: 50%;
  }
  .parent-clients-fields {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .clients-fields {
    width: calc(33.33% - 2rem);
    margin: 1rem 0;
  }
  form div.row.space-between {
    display: block;
  }
  .smaller-input {
    width: 100%;
  }
  .footer-to-screen-size {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-to-screen-size .footer-upper-line {
    width: 50%;
    text-align: center;
  }
  .footer-to-screen-size .footer-lower-line {
    width: 30%;
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .accent-background {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .accent-background .white.uppercase.row {
    width: 100%;
    margin: 2rem 6rem;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .accent-background .white.uppercase.row .div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .product-div {
    width: 50%;
  }
  .product-div:nth-child(n+5) {
    display: none;
  }
  video {
    width: 100%;
  }
  .clients-fields {
    width: calc(50% - 2rem);
    margin: 1rem 0;
  }
  .products-on-smaller-screen {
    display: none;
  }
  .footer-to-screen-size .footer-upper-line {
    width: 100%;
  }
  .footer-to-screen-size .footer-upper-line:nth-child(2) {
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 550px) {
  section .parent-clients-fields {
    display: none;
  }
  .footer-to-screen-size .footer-lower-line {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
  }
  .contact p {
    width: 100%;
  }
}

@media all and (max-width: 320px) {
  .services .similar-size-paddings {
    width: 90%;
    padding: 1rem 0;
    margin: 0 auto;
  }
  .product-div {
    width: 100%;
  }
  .contact form button {
    padding: 0.7rem;
  }
}
