//Variables
//Colors:
$accent-color: #10C9C3;
$light-main-color: #E9ECEF;
$middle-main-color: #bcbcbc;
$lightest-main-color: #F8F9F9;
$main-color: #787878;
$dark-main-color: #141414;
$white: #fff;
//Fonts:
$main-font: 'Montserrat', sans-serif;
$paragraph-font: 'Nunito Sans', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body section > div,
body header > nav,
body footer > div {
  margin: 0 auto;
  max-width: 1400px;
}

//Main settings

h1,
h2,
h3,
.small-letters,
.quote {
  font-family: $main-font;

  button {
    font-weight: 700;
  }
}

h1,
h2,
h3 {
  letter-spacing: 0.01em;
}

h1 {
  font-size: 2.375rem;
  line-height: 1.2632;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.125rem;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  font-family: $paragraph-font;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.small-letters {
  font-size: 0.75rem;
  line-height: 2.5;
  letter-spacing: 0.1em;
}

/*Header*/

header {
  background-image: url("../images/background.jpg");
  background-size: cover;
  overflow: hidden;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 4rem;
  position: relative;
}

.logo {
  height: 2.1875rem;
  width: 2.1875rem;
}

.menu-burger {
  display: none;
}

header ul li a {
  text-decoration: none;
  line-height: 2;
  color: $dark-main-color;
  margin-left: 2rem;
  &:hover {
    color: $accent-color;
    transition: 0.3s;
  }
}

.menu-different-screen-align {
  display: flex;
  flex-direction: row;

  hr {
    display: none;
  }
}

header div p {
  font-size: 1.125rem;
  line-height: 1.555;
  letter-spacing: 0.005em;
}

header p {
  text-align: justify;
}

.testimonial {
  width: 50%;
}

.align-testimonial {
  justify-content: flex-end;
}

//Button

button {
  background-color: $accent-color;
  letter-spacing: 0.1em;
  border: none;
  padding: 0.9rem 2rem;
  &:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
  }
}

//Video

video {
  width: 90%;
  cursor: pointer;
}

//Carousel

.quote {
  font-size: 1.5rem;
  line-height: 1.5;
}

.owl-carousel {
  position: relative;
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      box-shadow: none;
      outline: none;
      &:hover span {
        background: white;
        transition: 0.3s;
      }
      &.active span {
        background: $white;
      }
      span {
        width: 30px;
        height: 3px;
        border-radius: 0;
        background: rgba(214, 214, 214, 0.6);;
      }
    }
  }

  .owl-nav {
    background: none;
    .owl-prev, .owl-next {
      position: absolute;
      top: 45%;
      &:hover {
        background: none;
        box-shadow: none;
      }
      i {
        color: rgba(214, 214, 214, 0.6);

        &:hover {
          color: white;
          transition: 0.3s;
        }
      }
    }
  }
}

.owl-prev {
  left: 2rem;
}

.owl-next {
  right: 2rem;
}

//Margins

.margins {
  margin: 2.4rem 1rem 2.4rem 0;
}

.margin-top {
  margin: 1.2rem 0;
}

.margin-top-smaller {
  margin: 0.8rem 0;
}

.left-margin {
  margin-left: 2rem;
}

//Progress bars and information in progress bars

.notebook {
  height: 100%;
  width: 100%;
}

.half-image {
  display: block;
}

progress {
  color: $accent-color;
  background-color: $light-main-color;
}

.progress-bar {
  background-color: $light-main-color;
  height: 0.25rem;
  position: relative;
}

.progress {
  background-color: $accent-color;
  height: 0.25rem;
  position: absolute;
}

.design,
.sliders {
  width: 75%;
}

.development {
  width: 90%;
}

.marketing {
  width: 65%;
}

//Products section

.product-div {
  width: 25%;
  position: relative;
}

.overlay {
  background-color: rgba(8, 8, 8, 0.8);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  top: 0;
  left: 0;
}

.product-div:hover .overlay {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
}

.eye-image {
  background-image: url("../images/eye-regular.png");
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.products-on-click {
  display: none;
}

.load-more-work:hover {
  color: $accent-color;
  cursor: pointer;
  transition: 0.3s;
}

.gallery {
  .product-div:nth-child(n+9) {
    display: none;
  }
  img {
    width: 100%;
    display: block;
  }
}

//Form

form {
  width: 70%;
  justify-content: space-between;
}

div input,
div textarea {
  border: none;
  font-family: $main-font;
  margin-bottom: 2.5rem;
  padding: 0.7rem 1rem;
  letter-spacing: 0.001em;
  width: 100%;
  font-size: 1.1rem;
}

textarea {
  line-height: 1.8;
}

.smaller-input {
  width: 49%;
}

//Footer

.footer-to-screen-size {
  //display: flex;
  //align-items: center;

}
  footer a {
    font-family: $paragraph-font;
    font-size: 0.938rem;
    line-height: 1.6;
    letter-spacing: 0.005em;
    color: $middle-main-color;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $accent-color;
      transition: 0.3s;
    }
  }

  footer {
    .footer-upper-line,
    .footer-lower-line {
      text-align: left;
    }
  }


    /*SHORTCUTS:*/

    //Colors

    .bold {
      font-weight: 700;
    }

    .accent-background {
      background-color: $accent-color;
    }

    .white {
      color: $white;
    }

    .lightest-main-color-background {
      background-color: $lightest-main-color;
    }

    .middle-color {
      color: $middle-main-color;
    }

    .main-color {
      color: $main-color;
    }

    .dark-main-color {
      color: $dark-main-color;
    }

    .dark-main-color-background {
      background-color: $dark-main-color;
    }

    //Line height

    .line-height-smaller {
      line-height: 2;
    }

    .line-height-bigger {
      line-height: 2.8;
    }

    //Text transform

    .uppercase {
      text-transform: uppercase;
      letter-spacing: 0.01em;
    }

    //Display, containers and sizes

    .row {
      display: flex;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .flex-wrap .row {
      justify-content: center;
    }

    .white.uppercase.row {
      width: 25%;
    }

    .space-between {
      justify-content: space-between;
    }

    .center {
      text-align: center;
    }

    .center-content {
      justify-content: center;
    }

    .align-center {
      align-items: center;
    }

    .margin-auto {
      margin: 0 auto;
    }

    .higher-size-paddings {
      padding: 6rem 1.2rem;
    }

    .same-size-paddings {
      padding: 3.9rem;
    }

    .similar-size-paddings {
      padding: 2rem 1.5rem;
    }

    .middle {
      width: 80%;
      margin: auto;
    }

    .half-width {
      width: 50%;
    }

    .full-width {
      width: 100%;
    }

    .fields {
      width: 25%;
    }

    .clients-fields {
      width: 20%;
      opacity: 0.5;
    }

    .products-on-smaller-screen {
      width: 100%;
    }

    @media all and (max-width: 1100px) {
      .accent-background {
        justify-content: center;

        .white.uppercase.row {
          width: calc(50% - 12rem);
          margin: 2rem 6rem;
          align-content: center;

          .div {
            justify-content: center;
          }
        }
      }
    }

    @media all and (max-width: 900px) {
      .menu-burger {
        display: block;
        padding: 4px 12px;
        border: 2px solid transparent;
        div {
          width: 26px;
          height: 2px;
          background-color: black;
          margin: 6px 0;
          border-radius: 3px;
        }

        &:hover {
          cursor: pointer;
          border: 2px solid #9BBFF6;
          border-radius: 3px;
        }

        &:active {
          border: 2px solid #9BBFF6;
          border-radius: 3px;
        }
      }
      .menu-different-screen-align {
        display: none;
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 3rem;
        background: rgba(233, 236, 239, 0.98);
        padding: 1rem 2.5rem;
        position: absolute;
        top: 3rem;
        left: -1rem;
        li {
          padding: 0.3rem;
          hr {
            display: flex;
            border-top: 1px solid $accent-color;
          }
        }
      }
      .align-testimonial {
        justify-content: center;
        text-align: center;
        .testimonial, .middle {
          width: 100%;
        }
      }
      .half-image {
        display: none;
      }
      .full-professional-skills {
        width: 100%;
      }
      .fields {
        width: 50%;
      }
      .parent-clients-fields {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .clients-fields {
        width: calc(33.33% - 2rem);
        margin: 1rem 0;
      }
      .smaller-input {
        width: 100%;
      }

      .footer-to-screen-size {
        align-items: center;
        //display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer-upper-line {
          width: 50%;
          text-align: center;
        }

        .footer-lower-line {
          width: 30%;
          text-align: center;
        }
      }
    }

    @media all and (max-width: 750px) {
      .accent-background {
        justify-content: center;

        .white.uppercase.row {
          width: 100%;
          margin: 2rem 6rem;
          align-content: center;

          .div {
            justify-content: center;
          }
        }
      }
      .product-div {
        width: 50%;
      }
      video {
        width: 100%;
      }
      .clients-fields {
        width: calc(50% - 2rem);
        margin: 1rem 0;
      }
      .products-on-smaller-screen {
        display: none;
      }
      .footer-to-screen-size {
        .footer-upper-line {
          width: 100%;
          &:nth-child(2) {
            margin-bottom: 2rem;
          }
        }
      }
    }

